{% extends "base.html" %}
{% block todos %}



{% if request.user.is_authenticated %}

<h1 class="mt-5 mb-4">
    لیست کار های امروز
</h1>

{% for todo in Todos %}

<div class="card text-center bg-light border-dark" style="width: 95% !important;">
    <div class="card-body">
        <h5 class="card-title">
            {{todo.title}}
        </h5>
        <p class="card-text py-3">
            {{todo.body}}
        </p>
        <div class="d-flex justify-content-center align-items-center w-100">
            <a href="{% url 'done' todo.id %}" class="py-2 px-4 mx-2 btn btn-success">
                <i class="bi bi-check-circle"></i>
                انجام شد
            </a>
            <a href="{% url 'delete' todo.id %}" class="py-2 px-4 mx-2 btn btn-danger">
                <i class="bi bi-trash3"></i>
                حذف
            </a>
            <a href="{% url 'edit' todo.id %}" class="py-2 px-4 mx-2 btn btn-info">
                <i class="bi bi-pencil-square"></i>
                ویرایش
            </a>
        </div>
    </div>
    <div class="card-footer text-muted border-dark">
        {{todo.date}}
    </div>
</div>

{% endfor %}

{% else %}
<div class="alert alert-success mt-5" role="alert">
    <h4 class="alert-heading">خوش آمدید . </h4>
    <p>
        شما با استفاده از این اپلیکیشن میتونید کارهای روزانه خودتون رو ثبت کنید و در آخر روز چک کنید که اونا رو انجام
        دادید یا نه ؟
        <br>
        امیدوارم که کاراتون رو انجام داده باشین
    </p>
    <hr>
    <p class="mb-0">
        برای استفاده و اضافه کردن لیست کار ها ثبت نام کنید یا وارد شوید
    </p>
</div>

{% endif %}

{% endblock %}