{% extends "base.html" %}
{% block todos %}

<h1 class="mt-5 mb-4">
    لیست کار های امروز
</h1>


{% for todo in Todos %}

<div class="card text-center w-75">
    <div class="card-body">
        <h5 class="card-title">
            {{todo.title}}
        </h5>
        <p class="card-text py-3">
            {{todo.body}}
        </p>
        <div class="d-flex justify-content-center align-items-center w-100">
            <a href="#" class="py-2 px-4 mx-2 btn btn-success">انجام شد</a>
            <a href="#" class="py-2 px-4 mx-2 btn btn-danger">حذف</a>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{todo.date}}
    </div>
</div>

{% endfor %}



{% endblock %}