{% extends "base.html" %}
{% block todos %}

<h1 class="mt-5 mb-4">
    لیست کار های امروز
</h1>


{% for todo in Todos %}

<div class="card w-50 w-sm-100">
    <div class="card-header">
        {{todo.date}}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{todo.title}}
        </h5>
        <span class="blockquote-footer">{{todo.sub_title}}</span>
        <p class="card-text py-2">
            {{todo.body}}
        </p>
        <a href="#" class="btn btn-danger px-3 py-1">Delete</a>
    </div>
</div>
{% endfor %}



{% endblock %}